.app {
  margin: 20px auto;
  max-width: 800px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: xx-large;
  }

  &__loader {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
