.app {
  margin: 20px auto;
  max-width: 800px;

   
  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: xx-large;;
  }

  &__select {
    margin-bottom: 20px;
  }

  &__search {
    margin-bottom: 20px;
  }
}