.post-list {
  width: 100%;

  &__posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.post-enter {
  opacity: 0;
  transform: translateX(-350px);
}
.post-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
  transform: translateX(0);
}
.post-exit-active {
  transform: translateX(-350px);
  opacity: 0;
  transition: all 500ms ease-in;
}