.navbar {
  height: 50px;
  width: 100vw;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: darkgrey;

  &__links {
    display: flex;
    gap: 10px;
  }

  &__link {
    color: white;
  }
}
